@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,900;1,300;1,400&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.form {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  height: auto;
  background-color: rgb(243, 243, 255);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-color:  rgb(41, 41, 126);
  border-radius: 30px;
  font-size: 20px
 
}

.error {
  margin-top: -12px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 12px;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  height: auto;
  background-color: rgb(243, 243, 255);
  font-family: 'Roboto', sans-serif;
  color: rgb(41, 41, 126);
  text-align: center;
  border-color:  rgb(41, 41, 126);
  border-radius: 30px;
  font-size: 20px
}